# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Ambientes virtuais
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Variáveis de ambiente / segredos
.env

# IDEs
.vscode/
.idea/
